<launch>
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find exc_description)/urdf/exc.xacro'" />

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="FALSE"/>
  </node>


  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find exc_description)/launch/exc.rviz"/>

</launch>
