<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="excavator">
  <xacro:macro name="wheel_joint" params="wheel">
    <gazebo reference="wheel_${wheel}_joint">
      <kp value="1000000.0"/>
      <kd value="100.0"/>
      <minDepth value="0.005"/>
      <mu1 value="1"/> <!-- 2.0 -->
      <mu2 value="1"/> <!-- 0.5 -->
      <fdir1 value="1 0 0"/>
      <turnGravityOff>false</turnGravityOff>
    </gazebo>
  </xacro:macro>
  
  <xacro:wheel_joint wheel="fr" />
  <xacro:wheel_joint wheel="rr" />
  <xacro:wheel_joint wheel="fl" />
  <xacro:wheel_joint wheel="rl" />
</robot>
